.similar-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 150px;
}

.similar-products__title {
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: max-content;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.similar-products-container {
    width: 70%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}