.filter__title {
    font-size: 1.8em;
    text-align: center;
}

.filter__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter__label {
    font-size: 1.2em;
    border: 1px solid rgb(23, 23, 25);
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(32, 32, 39);
    color: white;
    cursor: pointer;
}

.filter__input {
    font-size: 0.9em;
    padding: 6px;
}

.filter__btn {
    padding: 5px;
    background-color: rgb(32, 32, 39);
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
}