.products__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info__title {
    font-size: 1.6em;
    border: 1px solid rgb(11, 11, 11);
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(18, 9, 33);
    color: #fff;
}

.input__text {
    font-size: 1.8em;
    border-radius: 10px;
    padding: 3px;
    color: rgb(19, 11, 33);
    width: 50%;
}